* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 7vmin!important;
    font-family: 'Roboto';
    color: #21313f;
}

body {
    /* background-color: rgba(132, 146, 182, 0.549); */
    background-color: #485868;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#container {
    width: 75vmin;
    height: 87vmin;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px, 
                rgba(0, 0, 0, 0.3) 0px 2px 4px,
                rgba(0, 0, 0, 0.3) 0px 4px 8px,
                rgba(0, 0, 0, 0.3) 0px 8px 16px,
                rgba(0, 0, 0, 0.3) 0px 16px 32px,
                rgba(0, 0, 0, 0.3) 0px 32px 64px; */
}

#announce {
    width: 75vmin;
    height: 10vmin;
    font-size: 5vmin;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
    justify-content: center;
    align-content: center;
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, 
                rgba(0, 0, 0, 0.07) 0px 2px 4px,
                rgba(0, 0, 0, 0.07) 0px 4px 8px,
                rgba(0, 0, 0, 0.07) 0px 8px 16px,
                rgba(0, 0, 0, 0.07) 0px 16px 32px,
                rgba(0, 0, 0, 0.07) 0px 32px 64px; */
}

.box {
    display: grid;
    justify-content: center;
    align-content: center;
    /* cursor: pointer; */
}

#index-00, #index-01, #index-10, #index-11 {
    border-right: 1vmin solid white;
    border-bottom: 1vmin solid white;
}

#index-20, #index-21 {
    border-right: 1vmin solid white;
}

#index-02, #index-12 {
    border-bottom: 1vmin solid white;
}

#options, #history {
    width: 75vmin;
    height: 10vmin;
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left, .right {
    width: 36vmin;
    height: 8vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 36vmin;
    height: 8vmin;
    border-radius: 5px;
    font-size: 4vmin;
    cursor: pointer;
}

.hidden {
    opacity: 0;
}