* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 8vmin;
    color: #21313f;
}

body {
    background-color: rgba(132, 146, 182, 0.549);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#container {
    background-color: #485868;
    width: 75vmin;
    height: 75vmin;
}
