/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap'); 

@import url('https://fonts.googleapis.com/css2?family=Besley:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@font-face {
    font-family: 'digital';
    src: url('./fonts/digital.ttf');
}

/* ANIMATIONS */
@keyframes floatUp {
    /* start of animation */
    0% {
        opacity: 0;
        transform: translateY(0.75rem);
    }

    80% {
        opacity: 0.6;
        visibility: visible;
    }

    /* end of animation */
    100% {
        opacity: 1;
        visibility: visible;
        /* transform: translateY(0); */
    }
}
  
@keyframes slowFade {
    /* start of animation */
    0% {
        opacity: 1;
        transform: translateY(0rem);
    }

    80% {
        visibility: visible;
        opacity: 0.6;
    }

    /* end of animation */
    100% {
        opacity: 0;
        visibility: hidden;
        /* transform: translateY(0); */
    }
}

/* MAIN STYLES */
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: url("./assets/backgroundfinal.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    font-size: 21.5px;
    /* cursor: url('./assets/cursor.cur'), auto; */
}

p {
    /* background-color: yellow; */
    color: #975b5b;
    letter-spacing: -2px;
    text-align: center;
}

#resetPage {
    background-color: white;
    width: 50px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5px;
    align-items: center;
    position: relative;
    top: 75px;
    left: 305px;
    font-size: 45px;
    color: rgba(19, 18, 18, 0.734);
    border-radius: 3px;
    box-shadow: 2px 0px 4px rgb(19, 18, 18);
    cursor: pointer;
}

#today {
    font-family: 'Sniglet', cursive;
    font-size: 40px;
    color: #302535;
}

#inputName {
    width: 60%;
    background: transparent;
    outline: none;
    border: none;
    text-decoration: none;
    border-bottom: 2px solid #ffc13b;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #ffc13b;
    text-align: center;
    padding-bottom: 5px;
    cursor: text;
}

#inputFocus {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    font-size: 35px;
    color: #ffc13b;
    width: 85%;
    text-align: center;
    text-shadow: 2px 2px 5px #302535;
    background-color: #3f264498;
    border-radius: 5px;
    outline: none;
}

#inputFocus.is-focused {
    background-color: #3f264498;
    border-radius: 5px;
    outline: none;
}

#inputFocus.is-focused ::after {
    content: '';
}

#inputGreetings {
    text-align: center;
    color: #5877b2;
    font-weight: 1000;
}

#inputGreetings.is-focused {
    background-color: #92828270;
    border-radius: 5px;
    outline: none;
}

#inputGreetings.is-focused ::after {
    content: '';
}

#quote.is-focused {
    opacity: 0.8;
    color: rgb(255, 255, 255);
}

#divTime {
    /* background-color: yellow; */
    width: 300px;
    font-family: 'digital';
    font-size: 83px;
    position: relative;
    text-align: center;
    top: 33px;
    left: 123px;
    display: flex;
    justify-content: center;
}

#container {
    /* background-image: url("./assets/bg.png"); */
    display: grid;
    grid-template-rows: 20vh 65vh 15vh;
    grid-template-columns: 30vw 40vw 30vw;
    /* opacity: 45%; */
}

#todo {
    /* background-color: blueviolet; */
    grid-area: 1 / 1 / span 2 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#time {
    /* background-color: coral; */
    grid-area: 1 / 2 / 2 / 3;
}

#divGreeting {
    /* background-color: crimson; */
    grid-area: 1 / 3 / span 2/ span 2;
    /* display: grid;
    grid-template-rows: 42.5vh 42.5vh; */
    display: block;
    
}

#greeting {
    /* background-color: crimson; */
    color: #443c3c;
    position: relative;
    text-align: center;
    top: 150px;
    left: 10px;
}

#laptop {
    /* background-color: darkgoldenrod; */
    grid-area: 2 / 2 / span 2 / 3;
}

#divInputName {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 140px;
    color: rgb(243, 234, 183);
}

#focus {
    /* background-color: chocolate; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#divQuote {
    /* background-color: darkslategray; */
    grid-area: 3 / 1 / 4 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0px;
}

#quote {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #412e15;
    position: relative;
    top: -15px;
    /* text-shadow: 1px 1px 0px #292221; */
    background-color: #2c2828;
    color: transparent;
    text-shadow: 2px 2px 3px #b57440;
    -webkit-background-clip: text;
        -moz-background-clip: text;
            background-clip: text;
}

#quoteOptions {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 12px;
    color: rgb(255, 236, 187);
    /* color: #f2f2f2; */
    text-shadow: 1px 1px 3px #292221;;
    visibility: hidden;   
}

#generate, #add {
    cursor: pointer;
}





/* TODO LIST */

.container {
    width: 23vw;
    height: 67vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: 12px;
    left: -5px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 10px;
    padding-right: 10px;
    color: #333;
    overflow-y: auto;
    
  }
  
  .app-title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ca5a10;
    text-shadow: 1px 1px 2px #262222;

  }
  
  .todo-list {
    width: 95%;
    list-style: none;
    margin-bottom: 20px;
  }
  
  .todo-item {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .todo-item span {
    /* background-color: red; */
    flex-grow: 3;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 17px;
    color: #6d3a0a;
    display: flex;
    flex-wrap: wrap;
  }
  
  .done span {
    text-decoration: line-through;
    opacity: 0.3;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .tick {
    width: 15px;
    height: 14px;
    background-color: #c74d28;
    border: 2px solid #c74d28;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .tick::before {
    color: white;
    content: '✓';
    font-size: 12px;
    display: none;
  }
  
  .done .tick::before {
    display: inline;
  }
  
  .delete-todo {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
  }
  
  form {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #inputTodo {
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    /* border-radius: 4px; */
    background: rgba(204, 151, 111, 0.878);
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-shadow: inset 1px 1px 2px black;

    position: absolute;
    top: 405px;
  }
  
#inputTodo::placeholder {
    color: #4f2d0e;
  }