<!--
/* Fonts used */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    font-size: 1vw;
    color: white;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}

#title {
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 3vw;
  color: #04643c;
  -webkit-text-stroke:0.5px rgb(255, 255, 255);
  text-shadow: 5px 5px 10px rgb(17, 13, 13);
  letter-spacing: 3px;
  font-weight: bolder!important;
}

#description {
  font-style: oblique;
  font-size: 1.5vw;
}

h2 {
  font-size: 200%;
}

#main {
    background-image: url(./assets/coffee-background.jpg);
    background-size: cover;
    background-color: rgb(55, 49, 48);
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

    font-family: 'Work Sans', sans-serif;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

#main-container {
    width: 75%;
    height: 85%;
    /* background-color: blanchedalmond; */
    background-image: url(./assets/coffee-card.jpg);
    background-size: cover;
    /* background-image: linear-gradient(rgba(28, 23, 23, 0.494), rgba(28, 23, 23, 0.494)); */
    background-color: rgba(29, 23, 23, 0.583);
    background-blend-mode: soft-light;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    /* grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10%; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    justify-content: center;
    /* align-items: center; */
    grid-gap: 0.5vw;
    padding: 1vw;
    border-radius: 2vw;
    box-shadow: 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 2px darkgray;

    box-shadow: -5px -5px 18px #2b2525b4;
    box-shadow: 5px 5px 18px #2b2525b4;
}

#header-container {
  /* grid-area: 1 / 2 / span 1 / span 4; */
  /* background-color: rgb(149, 255, 0); */
  display: block;
  grid-area: 1 / 2 / span 1 / span 3;
}

#form-container {
  /* grid-area: 2 / 2 / span 7 / span 4; */
  /* background-color: rgb(162, 60, 29); */
  grid-area: 2 / 2 / span 7 / span 3;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
}

#form-container > h1 {
    font-size: 1.75vw;
  }

#left-form {
  /* background-color: rgb(150, 143, 43); */
  grid-area: 1 / 1 / span 2 / span 1;
  padding: 1vw;
}

#right-form {
  /* background-color: rgb(43, 77, 150); */
  grid-area: 1 / 2 / span 2 / span 1;
  padding: 1vw;
}

#down-form {
  /* background-color: cyan; */
  grid-area: 3 / 1 / span 2 / span 2;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#intro-container {
  /* grid-area: 1 / 1 / span 4 / span 1; */
  /* background-color: rgb(0, 102, 255); */
  grid-area: 1 / 1 / span 4 / span 1;
}

#logo-container {
  /* grid-area: 5 / 1 / span 4 / span 1; */
  /* background-color: rgb(220, 53, 172); */
  justify-content: flex-start;
  align-items: flex-end!important;
  grid-area: 5 / 1 / span 4 / span 1;
}

#logo {
  width: 100%;
  height: auto;
  max-width: 625px;
  display: flex;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: -5px -5px 10px #000000b4;
  box-shadow: 3px 3px 10px #000000b4;
}

.padded {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-container {
  /* background: black; */
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  grid-gap: 0.5vw;
}

.input {
  width: 20vw;
  outline: none;
  padding: .5rem .5rem .5rem 1rem;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 0.5px solid white;
  background-color: transparent;
}

.input2 {
  width: 3vw;
  outline: none;
  padding: .5rem .5rem .5rem 1rem;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 0.5px solid white;
  background-color: transparent;
}

#name::placeholder, #email::placeholder, #number::placeholder{
  color: #ccffeac4;
  font-family: 'Work Sans', sans-serif;
}

#name-label, #email-label, #number-label, #gender-label {
  color: #2ff287;
  font-family: 'Work Sans', sans-serif;
}

.options {
  color: white;
}


textarea {
  resize: none;
  color: black;
}

#survey-div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 3fr 1fr 1fr 1fr;
  justify-content: center;
  /* background-color: blue; */
  margin-bottom: 1.5rem;
  /* padding: 5px; */
}

#survey-header, .choices {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.question {
  display: flex;
  width: 75%;
}

#scale {
  font-size: 80%;
  font-style: oblique;
}

#footer {
  display: flex;
  justify-content: flex-end;
  grid-column: 3 /  span 2;
}

a {
  display: block;
  margin: 0.3vw;
  padding: 0.5vw 1vw;
  text-decoration: none;
  text-align: center;
  color: white;
  letter-spacing: .2em;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight:300;
  background-color: #04643c;
  /* border: 0.5vw solid white; */
  border-radius: 25px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, .5);
  position: relative;
  top: 0px;
  transition: all 0.1s;
}

a:hover, a:focus {
  background-color: #04643c;
  /* border-color: #04643c; */
  color: white;
  cursor: pointer;
}

a:active {
  top: 3px;
  box-shadow: 0 1px 2px darkgray;
}

#form-container > #success {
    font-size: 3vw;
    color: #2ff287;
}



-->