@media screen and (min-width: 200px) and (max-width: 768px) {
    /* Mobile Devices to iPads, Tablet */
    section {
        /* background-color: blue; */
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        justify-self: center;
        align-self: center;
        align-items: center;
    }

    #header {
        background-color: #FFFFFFf8;
        width: 100%;
        height: 10vh;
        position: fixed;
        top: 0;
        z-index: 200;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 1px 1px rgb(0 0 0 / 7%);
    }
    
    #header-img {
        height: 7vh;
    }
    
    #nav-bar {
        /* background-color: yellow; */
        width: 45vmin;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
        padding-top: 1vmin;
    }
    
    .nav-link {
        text-decoration: none;
        color: #FF7518;
        font-size: 1.6vmin;
        font-weight: 700;
    }

    /* HOME */
    
    #container-home {
        /* background-color: red; */
        width: 100vw;
        height: 75vh;
        margin-top: 10vh;
    }
    
    .inner-home {
        /* background-color: yellow; */
        display: grid;
        grid-template-columns: 40vmin 60vmin;
        grid-template-rows: 20vmin 20vmin 15vmin;
    }
    
    .left-home {
        display: grid;
        grid-row: span 3;
    }

    .right-top-home {
        display: flex;
        justify-content: flex-end;
        padding-left: 2vmin;
        width: 58vmin;
        height: 20vmin;
    }
    
    .right-middle-home {
        padding-left: 2vmin;
        width: 58vmin;
        height: 20vmin;
    }
    
    .right-bottom-home {
        display: flex;
        justify-content: flex-end;
        padding-left: 2vmin;
        width: 58vmin;
        height: 15vmin;
    }

    .btn {
        width: 12vmin;
        height: 4.75vmin;
        margin: 10px;
        padding: 5px 10px 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vmin;
        font-weight: 500;
        text-align: center;
        letter-spacing: 1px;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2),
                    0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    #btn-home {
        width: 100%;
        height: 15vmin;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    #intro-gif {
        width: 100%;
        justify-self: center;
    }

    .title {
        font-family: 'Bubblegum Sans';
        font-size: 5.5vmin;
        letter-spacing: 3px;
        color: #231F20;
    }

    #subtitle {
        font-size: 2.5vmin;
        line-height: 3vmin;
    }

    /* WHY */

    #container-why {
        /* background-color: red; */
        width: 100vw;
        height: 75vh;
        margin-top: 10vh;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    
    .inner-why {
        /* background-color: yellow; */
        display: grid;
        grid-template-columns: 60vmin 40vmin;
        grid-template-rows: 35vmin 40vmin;
        justify-content: center;
        align-items: center;
    }

    .left-top-why {
        width: 60vmin;
        height: 35vmin;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .left-bottom-why {
        width: 55vmin;
        height: 30vmin;
        margin-top: 3vmin;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    h1 {
        font-size: 6vmin;
        letter-spacing: 3px;
    }

    p {
        font-size: 2.5vmin;
        line-height: 3.5vmin;
    }

    #img-right, #img-left {
        width: 100%;
    }

    /* WHY 2 */

    #container-why2 {
        /* background-color: red; */
        width: 100vw;
        height: 75vh;
        margin-top: 10vh;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    
    .inner-why2 {
        /* background-color: yellow; */
        display: grid;
        grid-template-columns: 40vmin 60vmin;
        grid-template-rows: 35vmin 40vmin;
        justify-content: center;
        align-items: center;
    }
    
    .right-top-why2 {
        width: 55vmin;
        height: 35vmin;
        margin-left: -3vmin;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .right-bottom-why2 {
        width: 52vmin;
        height: 25vmin;
        margin-bottom: 5vmin;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    /* SAMPLES */

    #container-samples {
        /* background-color: red; */
        width: 100vw;
        height: 75vh;
        margin-top: 10vh;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    
    .inner-samples {
        /* background-color: yellow; */
        display: grid;
        grid-template-columns: 50vmin 50vmin;
        grid-template-rows: 30vmin 30vmin 10vmin;
        justify-content: center;
        align-items: center;
    }
    
    .left-samples {
        justify-content: center;
        margin-top: 4vmin;
    }

    .right-top-samples {
        width: 45vmin;
        height: 30vmin;
        margin-left: -3vmin;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    .right-bottom-samples {
        width: 45vmin;
        height: 30vmin;
        margin-bottom: 5vmin;
        margin-left: -3vmin;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #video {
        width: 40vmin;
        height: 25vmin;
        border: 0.75vmin solid #ff7418;
        border-radius: 1vmin;
    }

    /* CHAPTERS */

    #container-chapters {
        /* background-color: red; */
        width: 100vw;
        height: 75vh;
        margin-top: 10vh;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    
    .inner-chapters {
        /* background-color: yellow; */
        display: grid;
        grid-template-columns: 33vmin 33vmin 33vmin;
        grid-template-rows: 17vmin 58vmin;
        justify-content: center;
        align-items: center;
    }
    
    .top-chapters {
        display: grid;
        grid-column: span 3;
        justify-content: center;
    }
    
    .bottom-chapters {
        grid-area: 2 / 1 / 3 / span 3;
        display: grid;
        grid-template-columns: 33vmin 33vmin 33vmin;
        grid-template-rows: 58vmin;
    }

    /* CHAPTERS */

    #container-chapters {
        /* background-color: red; */
        width: 100vw;
        height: 75vh;
        margin-top: 10vmin;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    
    .inner-chapters {
        /* background-color: yellow; */
        display: grid;
        grid-template-columns: 33vmin 33vmin 33vmin;
        grid-template-rows: 17vmin 58vmin;
        justify-content: center;
        align-items: center;
    }
    
    .top-chapters {
        display: grid;
        grid-column: span 3;
        justify-content: center;
    }
    
    .bottom-chapters {
        grid-area: 2 / 1 / 3 / span 3;
        display: grid;
        grid-template-columns: 33vmin 33vmin 33vmin;
        grid-template-rows: 58vmin;
    }

    .chapter-box {
        background-color: #FDFDFD;
        width: 30vmin;
        height: 58vmin;
        display: grid;
        grid-template-rows: 20vmin 10vmin 15vmin 10vmin;
        justify-self: center;
        text-align: center;
        border-radius: 2vmin;
        box-shadow: 0px 0px 2px #ff7418c1;
        transition: all 0.5s ease 0s;
    }
    
    .box-mid2 {
        padding-left: 3.5vmin;
        padding-right: 3.5vmin;
    }

    .img-box {
        height: 12vmin;
    }

    .chapter-title {
        font-size: 4vmin;
        color: #FF7518;
    }
    
    .chapter-subtitle {
        font-size: 2vmin;
        line-height: 3vmin;
    }

    .btn-enabled, .btn-disabled {
        width: 10vmin;
        height: 3.5vmin;
        display: flex;
        justify-content: center;
        font-size: 2.25vmin;
        font-weight: 400;
    }

    /* DOWNLOAD */

    #container-download {
        /* background-color: red; */
        width: 100vw;
        height: 75vh;
        margin-top: 10vh;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    
    .inner-download {
        /* background-color: yellow; */
        display: grid;
        grid-template-columns: 50vmin 50vmin;
        grid-template-rows: 10vmin 65vmin;
        justify-content: center;
        align-items: center;
    }

    .top-download {
        align-self: center;
    }
    
    .bottom-download {
        padding-left: 5vmin;
        padding-right: 5vmin;
        grid-area: 2 / 1 / 3 / span 2;
        display: grid;
        justify-content: center;
        grid-template-columns: 40vmin 40vmin;
        grid-template-rows: 60vmin;
    }
    
    .download-box {
        width: 33vmin;
        height: 60vmin;
        justify-self: center;
        align-content: center;
        align-self: center;
        align-items: center;
        text-align: center;
        display: grid;
        grid-template-rows: 10vmin 10vmin 25vmin 10vmin;
    }
    
    .dbox-benefits {
        padding-top: 3vmin;
        padding-left: 5vmin;
        padding-right: 5vmin;
    }
    
    .dbox-bottom {
        padding-bottom: 3vmin;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #download-subtitle {
        font-size: 2vmin;
        line-height: 3vmin;
    }

    .benefits {
        font-size: 1.5vmin;
        line-height: 2.5vmin;
    }

    h2 {
        font-size: 3vmin;
        letter-spacing: 2px;
    }

    #download-btn, #membership-btn {
        width: 15vmin;
        height: 5vmin;
        display: flex;
        justify-content: center;
        font-size: 2.25vmin;
        font-weight: 400;
    }

    /* MENTIONS */

    #container-mentions {
        /* background-color: red; */
        width: 100vw;
        height: 75vh;
        margin-top: 10vh;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    
    .inner-mentions {
        /* background-color: yellow; */
        display: grid;
        grid-template-columns: 50vmin 50vmin;
        grid-template-rows: 15vmin 21vmin 34vmin;
        justify-content: center;
        align-items: center;
    }
    
    .top-mentions, .mid-mentions, .carousel-mentions {
        grid-column: span 2;
        text-align: center;
    }

    .mid-mentions {
        padding-left: 7vmin;
        padding-right: 7vmin;
    }

    .slider {
        width: 100vmin;
    }

    /* SUBSCRIBE */

    #container-subscribe {
        /* background-color: red; */
        width: 100vw;
        height: 75vh;
        margin-top: 10vh;
        display: grid;
        justify-content: center;
        align-content: center;
    }
    
    .inner-subscribe {
        /* background-color: yellow; */
        display: grid;
        grid-template-columns: 50vmin 50vmin;
        grid-template-rows: 20vmin 15vmin 40vmin;
        justify-content: center;
        align-items: center;
    }
    
    .mid-subscribe {
        padding-left: 5vmin;
        padding-right: 5vmin;
    }
    
    .bottom-subscribe, #form {
        grid-column: span 2;
        display: grid;
        grid-template-rows: 20vmin 20vmin;
    }

    /* Form */

    .form-email {
        padding-left: 9vmin;
        padding-right: 9vmin;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .form-agree {
        padding-left: 5vmin;
        padding-right: 5vmin;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    /* Input Email */

    #email {
        background-color: #FAFAFA;
        width: 50vmin;
        height: 7vmin;
        padding-left: 5vmin;
    }

    #email::placeholder {
        font-size: 2.5vmin;
        letter-spacing: 1px;
    }

    #subscribe-call {
        font-size: 3vmin;
        line-height: 3vmin;
    }
    
    .check-agree {
        font-size: 2.5vmin;
    }

    #submit {
        background-color: #FF7518;
        width: 17vmin;
        height: 7vmin;
        font-size: 2.5vmin;
        text-align: center;
        letter-spacing: 1px;
    }

    label .cb-icon {
        width: 12px;
        height: 12px;
    }
    
    label .cb-icon::before {
        content: "";
        top: 0px;
        left: 4.5px;
        width: 1.5px;
        height: 7px;
    }
}